body
{
    color: red;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
}
#cabecera{
    background-color: yellow;
    color: red;
    margin: auto;
    padding: 1em;
    font-weight: bold;
}
#container{
    width: 50%;
    padding: 1em;
    text-align: right;
    border: 1px solid green;
    margin: auto;
}
#cointainer h1{
    font-size: 30px;
}
#post{
    width: 10%;
    color: blue;
    font-size: large;
    font-size: 15px;
    

}